@font-face {
    font-family: 'Century';
    src: url('cent.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Century';
    src: url('centbold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Century';
    src: url('centitalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Century';
    src: url('centbolditalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gothic';
    src: url('gothic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'shycowboy';
    src: url('shycowboy.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'copperplate';
    src: url('CopperplateCC-Heavy.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
