// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #502D16 !default;
$header-bg-color: #F4E3D7 !default;
$header-bg-color-secondary: #F4E3D7 !default;

// Text
$section-headings-color: #502D16 !default;
$body-text-color: #502D16 !default;
$body-link-color: #502D16 !default;
$blockquote-text-color: #502D16 !default;

// Code
$code-bg-color: #F4E3D7 !default;
$code-text-color: #502D16 !default;

// Borders
$border-color: #502D16 !default;
$table-border-color: #502D16 !default;
$hr-border-color: #502D16 !default;
