<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://indestructibletype.com/fonts/Besley.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="{{ '/assets/css/fonts/stylesheet.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" href="Favicon.png">
    <script>
      var sites = [
          {% for post in site.posts %}'{{ post.url }}',
          {% endfor %}
      ];

      function randomSite() {
          var i = parseInt(Math.random() * sites.length);
          location.href = sites[i];
      }
  </script>
  <script>
  function valueser() {
     if(document.getElementById("Contribute").style.visibility == 'visible') {
        document.getElementById("Contribute").style = 'visibility: hidden';
        document.getElementById("Cowboys").style = 'visibility: hidden';
        document.getElementById("Archives").style = 'visibility: hidden';
        document.getElementById("About").style = 'visibility: hidden';
        document.getElementById("head").style = 'margin-bottom: -5em;';
      }
     else {
        document.getElementById("Contribute").style = 'visibility: visible; margin-top: 2em;';
        document.getElementById("Cowboys").style = 'visibility: visible;';
        document.getElementById("Archives").style = 'visibility: visible;';
        document.getElementById("About").style = 'visibility: visible';
        document.getElementById("head").style = 'margin-bottom: 1em;';
      }
  }
  </script>
  <script>
  function visibility() {
     if(document.getElementById("title").style.display == 'block') {
        document.getElementById("title").style = 'display: none';
        document.getElementById("date").style = 'display: none';
        document.getElementById("type").style = 'display: none';
        document.getElementById("mad").style = 'margin-bottom: 0;';
      }
     else {
        document.getElementById("title").style = 'display: block; ';
        document.getElementById("date").style = 'display: block; ';
        document.getElementById("type").style = 'display: block; margin-top: -4em;';
        document.getElementById("mad").style = 'margin-bottom: 7em;';
      }
  }
  </script>
  </head>
  <body>
    <section class="page-header" id="head">
      <h1 class="project-name"><a href="{{ site.url }}">{{ site.title | upcase }}</a></h1>
      <button onclick="valueser();">☰</button>
      <a href="Submit" class="btn" id="Contribute">CONTRIBUTE</a>
      <a href="Coyboys" class="btn" id="Cowboys">COWBOYS</a>
      <u class="btn" id="Archives">ARCHIVES</u>
      <a href="About" class="btn" id="About">ABOUT</a>
    </section>

    <div class="sidebar" id="mad">
      <p>
        <b>SORT BY:</b><br>
        <button onclick="visibility();">COWBOY</button><br>
        <a id="date" href="IndexDate">DATE</a><br>
        <a id="title" href="Title">TITLE</a><br>
        <u>COWBOY</u><br>
        <a id="type" href="Type">TYPE</a><br>
      </p><br>
      </p><br>
      <p><b><a href="#" onclick="randomSite();">RANDOM</a></b></p>
    </div>

    <section class="main-content">
      <h1 id="mar">Sorted by {{page.title}} </h1>
      <br><br>

      {% assign years = site.posts | group_by: "artist" %}
      {% assign yearsSorted = years | sort: "name" %}
      {% for y in yearsSorted %}
      <li>
        <div class="list">
        <h2><b><a href="{{ site.url }}/artist/{{ y.name }}">{{ y.name | upcase }}</a></b></h2><br>
            {% assign yearTitlesSorted = y.items | sort: "title" %}
            {% for item in yearTitlesSorted %}
                <h2 class="date">{{ item.date | date: "%m / %Y" }}</h2><h2><a href="{{ item.url }}">{{ item.the | upcase}}{{ item.title | upcase}}</a></h2><br>
            {% endfor %}
            <br>
          </div>
          <br>
        </li>
      {% endfor %}
    </section>

<br><br><br>
      <footer class="site-footer">
        <h1>Created with love by <a href="https://ewonrael.github.io/">Owen Earl</a></h1>
        <p>Powered by <a href="http://jekyllrb.com/">Jekyll</a>. View on <a href="https://github.com/Activities-Index/activities-index.github.io">GitHub</a>.</p>
      </footer>
  </body>
</html>
