<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://indestructibletype.com/fonts/Besley.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="{{ '/assets/css/fonts/stylesheet.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/CowboyCollective/CowboyCollective.github.io/master/Favicon.png">
  </head>
  <body>
    <section class="page-header" id="head">
      <a href="{{ site.url }}"><div class="project-name"></div></a>
      <button onclick="valueser();">☰</button>
      <a href="{{ site.url }}/About" class="btn" id="About">ABOUT</a>
      <a href="{{ site.url }}" class="btn" id="Archive">ARCHIVES</a>
      <u class="btn" id="Cowboys">COWBOYS</u>
      <a href="{{ site.url }}/Submit" class="btn" id="Contribute">CONTRIBUTE</a>
    </section>

    <section class="main-content">
      <h1>Sheriffs <a class="question" href="{{ site.url }}/cowboy/sheriffs">&nbsp;?&nbsp;</a></h1>
      <h2> <b><a href="{{ site.url }}/cowboy/Colbe%20Schicatano">COLBE SCHICATANO</b><br></h2></a><br>
      <h2> <b><a href="{{ site.url }}/cowboy/Esa%20Hall">ESA HALL</b><br></h2></a><br>
      <h2> <b><a href="{{ site.url }}/cowboy/Owen%20Earl">OWEN EARL</b></h2></a><br>

      <h1>Cowboy Collective Card Carrying Cowboys <a class="question" href="{{ site.url }}/About#CCCCC">&nbsp;?&nbsp;</a></h1>
      <h2> <b><a href="{{ site.url }}/cowboy/Ben%20Swithen">BEN SWITHEN</b><br></h2></a><br>
      <h2> <b><a href="{{ site.url }}/cowboy/Brendan%20T.%20Firefly">BRENDAN T. FIREFLY</b><br></h2></a><br>
      <h2> <b><a href="{{ site.url }}/cowboy/Christopher%20Earl">CHRISTOPHER EARL</b></h2></a><br>
      <h2> <b><a href="{{ site.url }}/cowboy/Guido%20De%20Boer">GUIDO DE BOER</b><br></h2></a><br>
      <h2> <b><a href="{{ site.url }}/cowboy/Helen%20Earl">HELEN EARL</b><br></h2></a><br>
      <h2> <b><a href="{{ site.url }}/cowboy/Henry%20Krusoe">HENRY KRUSOE</b></h2></a><br>
      <h2> <b><a href="{{ site.url }}/cowboy/Lara%20Dautun">LARA DAUTUN</b></h2></a><br>
      <h2> <b><a href="{{ site.url }}/cowboy/Leo%20and%20Ani">LEO AND ANI</b></h2></a><br>
      <h2> <b><a href="{{ site.url }}/cowboy/Negativland">NEGATIVLAND</b></h2></a><br>
      <h2> <b><a href="{{ site.url }}/cowboy/OTRR%20Group">OTRR GROUP</b></h2></a><br>

      <h1>Honorary Cowboys <a class="question" href="{{ site.url }}/cowboy/honorary">&nbsp;?&nbsp;</a></h1>
      <h2> <b><a href="{{ site.url }}/cowboy/Ennio%20Morricone">ENNIO MORRICONE</b><br></h2></a><br>
      <h2> <b><a href="{{ site.url }}/cowboy/FAT%20labs">FAT LABS</b><br></h2></a><br>
      <h2> <b><a href="{{ site.url }}/cowboy/KD%20Lang">K.D. LANG</b><br></h2></a><br>
      <h2> <b><a href="{{ site.url }}/cowboy/Lil%20Nas%20X">LIL NAS X</b><br></h2></a><br>
      <h2> <b><a href="{{ site.url }}/cowboy/Lucky%20Stars">THE LUCKY STARS</b><br></h2></a><br>
      <h2> <b><a href="{{ site.url }}/cowboy/Mary%20Poppins">MARY POPPINS</b></h2></a><br>
      <h2> <b><a href="{{ site.url }}/cowboy/Orville%20Peck">ORVILLE PECK</b><br></h2></a><br>
    </section>
<br><br><br>
    <footer class="site-footer">
      <h1>Licensed under the <a href="https://creativecommons.org/licenses/by/4.0/legalcode">Creative Commons.</a></h1>
      <p><a href="https://github.com/CowboyCollective/CowboyCollective.github.io/">Click here to view and download this website on GitHub</a>.</p>
      <p><a href="https://www.patreon.com/cowboycollective">PATREON</a> &nbsp;★ &nbsp;<a href="https://cowboycollective.bandcamp.com">BANDCAMP</a> &nbsp;★ &nbsp;<a href="https://mailchi.mp/0592cc9ce576/cowboymail">NEWSLETTER</a></p>
    </footer>
  </body>
</html>
