<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://indestructibletype.com/fonts/Besley.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="{{ '/assets/css/fonts/stylesheet.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/CowboyCollective/CowboyCollective.github.io/master/Favicon.png">
    <script>
      var sites = [
          {% for post in site.posts %}'{{ post.url }}',
          {% endfor %}
      ];

      function randomSite() {
          var i = parseInt(Math.random() * sites.length);
          location.href = sites[i];
      }
  </script>
  <script>
  function visibility() {
     if(document.getElementById("name").style.display == 'block') {
        document.getElementById("name").style = 'display: none';
        document.getElementById("artist").style = 'display: none';
        document.getElementById("date").style = 'display: none';
        document.getElementById("group").style = 'display: none';
        document.getElementById("mad").style = 'margin-bottom: 0;';
      }
     else {
        document.getElementById("name").style = 'display: block;';
        document.getElementById("artist").style = 'display: block';
        document.getElementById("date").style = 'display: block;';
        document.getElementById("group").style = 'display: block; margin-top: -4em;';
        document.getElementById("mad").style = 'margin-bottom: 7em;';
      }
  }
  </script>
  </head>
  <body>
    <section class="page-header" id="head">
      <a href="{{ site.url }}/Home"><div class="project-name"></div></a>
      <button onclick="valueser();">☰</button>
      <a href="Submit" class="btn" id="Contribute">CONTRIBUTE</a>
      <a href="About" class="btn" id="Cowboys">COWBOYS</a>
      <u class="btn" id="Archives">ARCHIVES</u>
      <a href="About" class="btn" id="About">ABOUT</a>
    </section>

    <div class="sidebar" id="mad">
      <p>
        <b>SORT BY:</b><br>
        <button onclick="visibility();">DATE CREATED</button><br>
        <a id="name" href="IndexDate">DATE INDEXED</a><br>
        <a id="artist" href="Name">NAME</a><br>
        <a id="date" href="Artist">ARTIST</a><br>
        <u>DATE CREATED</u><br>
        <a id="group" href="Group">GROUP SIZE</a><br>
      </p><br>
      <p><b><a href="#" onclick="randomSite();">GO TO RANDOM</a></b></p>
    </div>

    <section class="main-content">
      <h1 id="mar">Sorted by {{page.title}} </h1>
      <br><br>
      {% assign sorted = (site.posts | sort: 'name' | sort: 'date') %}
      {% for item in sorted %}
      <li>
        <div class="list">
          <h2 class="date">{{ item.date | date: "%m / %Y" }}</h2><h2><b><a href="{{ item.url }}"> {{ item.the | upcase}}{{ item.title | upcase}}</b><br>{{ item.artist | upcase }}</a></h2><br><br>
        </div>
      </li>
      {% endfor %}
    </section>

<br><br><br>
      <footer class="site-footer">
        <h1>Licensed under the <a href="https://creativecommons.org/licenses/by/4.0/legalcode">Creative Commons.</a></h1>
        <p><a href="https://github.com/CowboyCollective/CowboyCollective.github.io/">Click here to view and download this website on GitHub</a>.</p>
        <p><a href="https://www.patreon.com/cowboycollective">PATREON</a> &nbsp;&#9733; &nbsp;<a href="https://cowboycollective.bandcamp.com">BANDCAMP</a> &nbsp;&#9733; &nbsp;<a href="https://mailchi.mp/0592cc9ce576/cowboymail">NEWSLETTER</a></p>
      </footer>
  </body>
</html>
