<!DOCTYPE html>
<html>
<head>
  <title>The Cowboy Collective</title>
  <link rel="stylesheet" href="https://cowboycollective.cc/welcome%20site/style.css" />
  <link rel="stylesheet" href="https://indestructibletype.com/fonts/Besley.css" type="text/css" charset="utf-8" />
  <link rel="shortcut icon" href="https://raw.githubusercontent.com/CowboyCollective/CowboyCollective.github.io/master/Favicon.png">
</head>
<body>
  <div id="grain">
    <div id="body">
    <a href="{{ site.url }}/Home"><div id="logo"></div></a>
    <div id="welcomenote">
      <h1>Howdy, Cowboy!</h1>
      <h2>Welcome to the Collective!</h2>
      <h3>I&rsquo;m glad you&rsquo;re here!</h3>
      <h4>Where do you want to go?</h4>
    </div>
    <div id="menu">
      <a href="https://cowboycollective.cc/About">ABOUT</a> <a href="https://cowboycollective.cc/Home">ARCHIVES</a> <a href="https://cowboycollective.cc/Cowboys">COWBOYS</a> <a href="https://cowboycollective.cc/Submit">CONTRIBUTE</a>
    </div>
    <div id="bounty"><a href="music.html">$1000 REWARD!</a></div>
    </div>
  </div>
</body>
</html>
